{{define "import_nav"}}
<div class="col-2">
    <div class="d-flex align-items-start justify-content-center"  style="padding-right: 16px;">
        <div class="nav flex-column nav-pills me-3 nav-justified" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <button class="nav-link active rounded-0" href="#add" id="add-tab" data-bs-toggle="pill" data-bs-target="#add" type="button" role="tab" aria-controls="add" aria-selected="true">Add a Dataset</button>
        <button class="nav-link rounded-0" href="#edit" id="edit-tab" data-bs-toggle="pill" data-bs-target="#edit" type="button" role="tab" aria-controls="edit" aria-selected="true">Edit a Dataset</button>
        </div>
    </div>
</div>
{{end}}